.navbar-brand {
  margin-left: auto !important;
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 5px 5px;
  width: 200px;
}

.navbar {
  margin-bottom: 0;
  top: 0px;
  width: 100%;
}

.navbar > .container {
  width: auto;
  margin: 5px 50px 5px 10px;
}
