.container-fluid {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.resp {
  width: 100%;
  height: auto;
}

.cover {
  margin-top: 10%;
  margin-left: 5px;
  padding: 0%;
}

.about {
  margin: 0%;
  padding: 0%;
}

#vid {
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  padding: 0% 5%;
}

video {
  min-width: 100%;
  min-height: 100%;
}
